@tailwind base;
@tailwind components;
@tailwind utilities;

/* set the defualt font family for the whole app */
/* @layer base { */
/*   * { */
/*     font-family: "Inter_400Regular" !important; */
/*   } */
/* } */
